@if(isLoading){
<mat-progress-bar
  mode="indeterminate"
  class="primary-progress-bar"
></mat-progress-bar>
}

<section class="section py-5 d-flex align-items-center">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-12 text-start">
        <div>
          <h2 class="text-color">Recipes list</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <mat-form-field [style.width.px]="350">
          <mat-label>Search by name</mat-label>
          <input
            matInput
            [(ngModel)]="searchName"
            (ngModelChange)="onSearchChange()"
          />
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-12">
        <mat-form-field [style.width.px]="350">
          <mat-label>Search by ingredients (comma-separated)</mat-label>
          <input
            matInput
            [(ngModel)]="searchIngredients"
            (ngModelChange)="onSearchChange()"
          />
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-12 text-end mb-2">
        <button mat-raised-button class="primary-button" (click)="onCreate()">
          <mat-icon>add</mat-icon> Create
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                {{ element.description }}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Actions
              </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <button
                  mat-button
                  class="primary-button"
                  (click)="onModify(element)"
                >
                  <mat-icon>edit</mat-icon> Modify
                </button>
                <button
                  mat-button
                  class="error-button"
                  (click)="openDialog('1500ms', '1000ms', element)"
                >
                  <mat-icon>delete</mat-icon> Delete
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            [length]="totalRecipes"
            [pageSizeOptions]="pageSizes"
            showFirstLastButtons
            (page)="onPageChange($event)"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>
